
	        <div class="row col-p30" id="upd_cors">
	            <div class="col-md-8 col-md-push-2 sm-box3">
					<form id="add_cor_frm">
						{% csrf_token %}
						<input type="hidden" name="cor_hid" value="add" />
	                	<div class="col-md-6">
		                	<select class="form-control inpt_bx_blck mb20" name="cor_cat" required>
		                		<option> --- Select Course Category --- </option>
		                		<option value="Diploma Course"> Diploma Course </option>
		                		<option value="Tution Course"> Tution Course </option>
		                		<option value="Distance Course"> Distance Course </option>
		                		<option value="Regular Course"> Regular Course </option>
		                	</select>
		                </div>
		                <div class="col-md-6">
		                	<input type="text" name="cor_nam" id="cor_nam" class="form-control inpt_bx_blck mb20" placeholder="Course Name" required />
		                </div>
		                <div class="col-md-6">
		                	<input type="text" name="cor_ful_frm" class="form-control inpt_bx_blck mb20" placeholder="Course Full Form" required />
		                </div>
		                <div class="col-md-6">
		                	<input type="text" name="cor_dur" class="form-control inpt_bx_blck mb20" placeholder="Course Duration" required />
		                </div>
		                <div class="col-md-6">
		                	<input type="text" name="cor_dit" class="form-control inpt_bx_blck mb20" placeholder="Course Details" required />
		                </div>
		                <div class="col-md-6">
		                	<input type="text" name="cor_pak" class="form-control inpt_bx_blck mb20" placeholder="Course Package" required />
		                </div>
		                <div class="col-md-6">
		                	<input type="text" name="cor_syllabus" class="form-control inpt_bx_blck mb20" placeholder="Upload Related Syllabus" onfocus="(this.type='file')" />
		                </div>
		                <div class="col-md-12" style="text-align: center;">
		                	<button id="cor_sub" name="cors_sub" class="bor_btn_blk butt_on_blk">Submit<span></span><span></span></button>
		                </div>
					</form>
	            </div>
			</div>
			<div class="row col-p30">
				<div class="col-md-12 text-center" style="margin: 50px 0 30px;">
					<h2 class="title-large" style="margin-bottom: 10px;">Course List</h2>
					<div class="br-bottom-center"></div>
				</div>
				<div class="col-md-12">
					<table class="table table-striped table-bordered" id="load">
						<thead>
							<tr>
								<th scope="col" class="text-center">S.No.</th>
								<th scope="col" class="text-center">Category</th>
								<th scope="col" class="text-center">Name</th>
								<th scope="col" class="text-center">Duration</th>
								<th scope="col" class="text-center">Package</th>
								<th scope="col" class="text-center">Detail</th>
								<th scope="col" class="text-center">Syllabus</th>
								<th scope="col" class="text-center">Edit</th>
								<th scope="col" class="text-center">Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for i in course %}
								<tr>
									<th scope="row" class="text-center">{{forloop.counter}}</th>
									<td>{{i.cor_cat}}</td>
									<td>{{i.cor_nam}}</td>
									<td>{{i.cor_dur}}</td>
									<td>{{i.cor_pak}}</td>
									<td>{{i.cor_detail|slice:'0:50'}}...</td>
									<td class="text-center"><a href="/media/{{i.cor_syllabus}}" target="_blank"><i class="icon icon_download icon-simple icon-large"></i></a></td>
									<!-- <td class="text-center"><a href="/cit/update_cors/{{i.cor_id}}"><i class="icon icon_pencil icon-simple icon-large"></i></a></td> -->
									<td class="text-center"><a href="#" onclick="upd_cor({{i.cor_id}})"><i class="icon icon_pencil icon-simple icon-large"></i></a></td>
									<td class="text-center"><a href="#" onclick="del_cor({{i.cor_id}})"><i class="icon icon_close icon-simple icon-large"></i></a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</table>
			</div>