<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block title %} {% endblock %}
	{% load static %}

	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700%7CMontserrat:400,700%7CRaleway:300,400,600" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'cit/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'cit/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'cit/libs/rs-plugin/css/settings.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'cit/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'cit/css/my.css' %}">
	<link rel="stylesheet" href="{% static 'cit/libs/page-slider/animate.min.css' %}">
</head>
<body>

	<div id="wrapper" class="animsition">
		<div class="header-transparent menu-fixed-dark menu-dark-mobiles menu-dark">
			<header class="header-wrapper">
				<div class="main-header">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="menu-wrapper">
									<div class="logo-wrapper">
										<a href="/cit/admin" class="logo">
											<img src="{% static 'cit/images/logo.png' %}" class="logo-img logo-dark" alt="Logo">
											<img src="{% static 'cit/images/logo.png' %}" class="logo-img logo-light" alt="Logo">
										</a>
									</div>
									<nav class="navbar-right">
										<ul class="menu">
	
											<li class="toggle-menu"><i class="icon icon_menu"></i></li>
											<li><a href="#" class="bor_btn" onclick="dashboard()">Dashboard<span></span><span></span></a></li>
											<li><a href="#" class="bor_btn" onclick="course()">Course<span></span><span></span></a>
											</li>
											<li>
												<a href="#" class="bor_btn">Student<span></span><span></span></a>
												<ul class="submenu">
													<li><a href="#" onclick="std_reg()">Registration</a></li>
													<li><a href="#" onclick="std_lis()">Student List</a></li>
												</ul>
											</li>
											<!-- <li>
		                                            <a href="#" class="bor_btn">Attendance<span></span><span></span></a>
		                                            <ul class="submenu">
		                                                <li><a href="attend.php">Today's Attendance</a></li>
		                                                <li><a href="attend_rec.php">Attendance Record</a></li>
		                                            </ul>
		                                        </li> -->
											<li>
												<a href="#" class="bor_btn">Exam<span></span><span></span></a>
												<ul class="submenu">
													<li><a href="#" onclick="exm_mark()">Exam Marks</a></li>
													<li><a href="#" onclick="result_lis()">Result List</a></li>
													<!-- <li><a href="/cit/view_cretificate">Certificate</a></li> -->
												</ul>
											</li>
											<li>
												<a href="#" class="bor_btn">Fees<span></span><span></span></a>
												<ul class="submenu">
													<li><a href="#" onclick="sub_fee()">Submit Fee</a></li>
													<li><a href="#" onclick="fee_lis()">Fees Record</a></li>
												</ul>
											</li>
											<li>
												<a href="/cit/usr_logout" class="bor_btn">Log Out<span></span><span></span></a>
												<!-- <form method="POST">
		                                                <button href="#" name="log_out" class="bor_btn log_out_btn">Logout<span></span><span></span></button>
		                                            </form> -->
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
	
		<section class="section-intro breadcrumbs-right bg-img bg47 stellar" data-stellar-background-ratio="0.4" style="padding: 42px 0;">
			<div class="bg-overlay gradient-1"></div>
		</section>
		<section class="section page-contact mb20">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="intro-title" id="admin_heading" style="color: #000;"></h1>
					<div class="br-bottom-center mb40"></div>
				</div>
			</div>
			<div class="container" id="main_place">
				
			</div>
		</section>
	
	</div>

	<p id="login_success" class="frm_valid_line">{{login_success}}</p>

	<script src="{% static 'cit/js/jquery.min.js' %}"></script>
	<script src="{% static 'cit/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'cit/js/main.js' %}"></script>
	<script src="{% static 'cit/libs/rs-plugin/js/revolution-slider.js' %}"></script>
	<script src="{% static 'cit/libs/auto-type/typed.js' %}" type="text/javascript"></script>
	<script src="{% static 'cit/libs/auto-type/demos.js' %}"></script>
	<script src="{% static 'cit/libs/page-slider/wow.min.js' %}"></script>
	<script src="{% static 'cit/libs/particles/particles.js' %}"></script>
	<script src="{% static 'cit/libs/particles/app.js' %}"></script>

	<script>
		
		$(document).ready(function(){
			$('#main_place').load('/cit/dashboard');
			$('#admin_heading').text('Dashboard');
		});
		// Dashboard
		function dashboard(){
			$('#main_place').load('/cit/dashboard');
			$('#admin_heading').text('Dashboard');
		}
		// Course
		function course(){
			$('#main_place').load('/cit/cou_rse');
			$('#admin_heading').text('Course Detail');
		}
		// Add Student
		function std_reg(){
			$('#main_place').load('/cit/std_reg');
			$('#admin_heading').text('Add Student');
		}
		// Student List
		function std_lis(){
			$('#main_place').load('/cit/std_list/non');
			$('#admin_heading').text('Student List');
		}
		// Add Exam Marks
		function exm_mark(){
			$('#main_place').load('/cit/add_marks/non');
			$('#admin_heading').text('Add Exam Marks');
		}
		// Result List
		function result_lis(){
			$('#main_place').load('/cit/result_list');
			$('#admin_heading').text('Student Result List');
		}
		// Add Student Fee
		function sub_fee(){
			$('#main_place').load('/cit/add_fee/non');
			$('#admin_heading').text('Add Student Fee');
		}
		// Fee List
		function fee_lis(){
			$('#main_place').load('/cit/fee_list');
			$('#admin_heading').text('Student Fee List');
		}
		// Enquery List
		function enq_list(){
			$('#main_place').load('/cit/enqu');
			$('#admin_heading').text('Student Enquery List');
		}
		// Course Add View Edit Delite Script
		function del_cor(cor_id){
			var confir = confirm('Do you want to delete Course with id = '+ cor_id +' Record ??');
			if (confir == true){
				var req = new XMLHttpRequest();
				req.open('GET', '/cit/del_cors/' + cor_id, true);
				req.send();
				req.onreadystatechange = function(){
					if(req.readyState == 4 && req.status == 200){
						$('#main_place').load('/cit/cou_rse');
					}
				}
			}
		}
		// Onclick Add Course Form
		$(document).on('submit', '#add_cor_frm', function(e){
            e.preventDefault();
			$.ajax({
				url:"/cit/add_course",
				method:"POST",
				data:new FormData(this),
				contentType:false,
				processData:false,
				success: function (response) {
					alert('Course '+ $('#cor_nam').val() +' Added Successfully !!');
					$('#main_place').load('/cit/cou_rse');
				},
				error: function (data) {
					alert('Course '+ $('#cor_nam').val() +' Already Exist !!');
				}
			});
            // $.post('/cit/add_course', {
            //         cor_hid:$('#cor_hid').val(),
            //         cor_cat:$('#cor_cat').val(),
            //         cor_nam:$('#cor_nam').val(),
            //         cor_ful_frm:$('#cor_ful_frm').val(),
            //         cor_dur:$('#cor_dur').val(),
            //         cor_dit:$('#cor_dit').val(),
            //         cor_pak:$('#cor_pak').val(),
            //         cor_syllabus:$('#cor_syllabus').val(),
            //         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            //     }, function(data, status){
			// 		$('#lod_cors').load('/cit/cors_list');
			// 		al_ert.style.display = 'block';
			// 		al_ert.innerHTML = 'Course '+ $('#cor_nam').val() +' Added Successfully !!';
            // });
        });
		// Onclick update Course Button
		function upd_cor(cor_id){
			$('#upd_cors').load('/cit/update_cors/' + cor_id);
			$('#admin_heading').text('Update Course Details');
		}
		// Onsubmit Updated Course
		$(document).on('submit', '#upd_cor_frm', function(e){
            e.preventDefault();
			$.ajax({
				url:"/cit/add_course",
				method:"POST",
				data:new FormData(this),
				contentType:false,
				processData:false,
				success: function (response) {
					alert('Course '+ $('#cor_nam').val() +' Updated Successfully !!');
					$('#admin_heading').text('Add Course');
					$('#main_place').load('/cit/cou_rse');
				},
				error: function (data) {
					alert('Some Error Occured Please Try Again !!');
				}
			});
		});
		// Student Add Script
		$(document).on('submit', '#std_reg_frm', function(e){
			e.preventDefault();
			$.ajax({
				url: '/cit/add_std',
				method: 'POST',
				data: new FormData(this),
				contentType:false,
				processData:false,
				success: function (response) {
					alert('Student '+ $('#std_nam').val() +' Successfully Registerd !!');
					$('#admin_heading').text('Student List');
					$('#main_place').load('/cit/std_list/non');
				},
				error: function (data) {
					alert('Student '+ $('#std_nam').val() +' Alredy Exist !!');
				}
			});
		});
		// Onclick View Student
		function std_view(std_id){
			$('#main_place').load('/cit/std_view/' + std_id);
			$('#admin_heading').text('Edit Student Record');
		}
		// Onclick Update Student
		function upd_std(std_id){
			$('#main_place').load('/cit/update_std/' + std_id);
			$('#admin_heading').text('Edit Student Record');
		}
		// Student Update Script
		$(document).on('submit', '#std_reg_frm_update', function(e){
			e.preventDefault();
			$.ajax({
				url: '/cit/add_std',
				method: 'POST',
				data: new FormData(this),
				contentType:false,
				processData:false,
				success: function (response) {
					alert('Student '+ $('#std_nam').val() +' Successfully Updated !!');
					$('#admin_heading').text('Student List');
					$('#main_place').load('/cit/std_list/non');
				},
				error: function (data) {
					alert('Student '+ $('#std_nam').val() +' Alredy Exist !!');
				}
			});
		});
		// Student Delete
		function std_del(reg_id){
			var confir = confirm('Do you want to delete Course with id = '+ reg_id +' Record ??');
			if (confir == true){
				var req = new XMLHttpRequest();
				req.open('GET', '/cit/del_std/' + reg_id, true);
				req.send();
				req.onreadystatechange = function(){
					if(req.readyState == 4 && req.status == 200){
						$('#admin_heading').text('Student List');
						$('#main_place').load('/cit/std_list/non');
					}
				}
			}
		}
		// Add Student Exam Result
		$(document).on('submit', '#add_exm_frm', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/cit/marks',
                method: 'POST',
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Student ' + $('#std_nam').val() + ' Exam Result Successfully Added !!');
                    $('#admin_heading').text('Student Result List');
                    $('#main_place').load('/cit/result_list');
                },
                error: function (data) {
                    alert('Student ' + $('#std_nam').val() + ' Alredy Exist !!');
                }
            });
        });
		// Onclick View Exam Result
		function result_view(std_id){
			$('#main_place').load('/cit/result_view/' + std_id);
			$('#admin_heading').text('Student Exam Record');
		}
		// Onclick Update Exam Result
		function upd_mark(std_id){
			$('#main_place').load('/cit/update_marks/' + std_id);
			$('#admin_heading').text('Edit Student Exam Record');
		}
		// Update Student Exam Result
		$(document).on('submit', '#upd_exm_frm', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/cit/marks',
                method: 'POST',
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Student ' + $('#std_nam').val() + ' Exam Result Successfully Updated !!');
                    $('#admin_heading').text('Student Result List');
                    $('#main_place').load('/cit/result_list');
                },
                error: function (data) {
                    alert('Student ' + $('#std_nam').val() + ' Alredy Exist !!');
                }
            });
        });
		// Add / Update Student Fee
		$(document).on('submit', '#add_fee_frm', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/cit/fee',
                method: 'POST',
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('Student ' + $('#fee_std_nam').val() + ' Fee Successfully Added !!');
                    $('#admin_heading').text('Student Fee List');
                    $('#main_place').load('/cit/fee_list');
                },
                error: function (data) {
                    alert('Something is Wrong Please try again !!');
                }
            });
        });
		// Onclick View Fee
		function fee_view(std_id){
			$('#main_place').load('/cit/fee_view/' + std_id);
			$('#admin_heading').text('Student Exam Result Details');
		}
		
		var get_login_success = document.getElementById('login_success').textContent
        if(get_login_success === 'True')
        {
            alert('Welcome {{user_info.first_name}}' + ' ' + '{{user_info.last_name}}');
            window.location.href = "/cit/admin";
        }
	</script>

	{% block js %} {% endblock %}

</body>
</html>