
	        <div class="row col-p30">
	            <div class="col-sm-12 sm-box3">
	                <div class="col-md-4">
	                	<div class="col-md-12 das_dv1">
							<a href="#" onclick="std_lis()">
								<h3 class="title-medium mt50">Students</h3>
	                			<h3 class="title-large">{{totl_std}}</h3>
							</a>
	                	</div>
	                </div>
	                <div class="col-md-4">
	                	<div class="col-md-12 das_dv2">
							<a href="#" onclick="enq_list()">
								<h3 class="title-medium mt50">Enquiries</h3>
	                			<h3 class="title-large">{{totl_inq}}</h3>
							</a>
	                	</div>
	                </div>
	                <div class="col-md-4">
	                	<div class="col-md-12 das_dv3">
							<a href="#" onclick="course()">
								<h3 class="title-medium mt50">Courses</h3>
								<h3 class="title-large">{{totl_cor}}</h3>
							</a>
	                	</div>
	                </div>
	            </div>
	        </div>