
	        <div class="row col-p30">
	            <div class="col-md-10 col-md-push-1 sm-box3">
                    <div id="hid1">
                        <div class="col-md-4">
                            <select class="form-control inpt_bx_blck mb20" name="exm_cors" id="std_cor">
                                <option value=""> Select course Name </option>
                                {% for i in all_cors %}
                                <option value="{{i.cor_nam}}"> {{i.cor_nam}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control inpt_bx_blck mb20" name="exm_nam" id="std_nam">
                                <option value=""> Select Student Name </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control inpt_bx_blck mb20" name="exm_fat" id="std_fat">
                                <option value=""> Select Father Name </option>
                            </select>
                        </div>
                    </div>
                    <form id="add_exm_frm">
                        {% csrf_token %}
                        <div id="hid2">
                            <input type="hidden" name="exm_hid" value="add" />
                            <div id="exm_hid"></div>
                            <div class="col-md-6">
                                <input type="text" name="exm_enroll" class="form-control inpt_bx_blck mb20" placeholder="Enrolment Number" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="exm_certi" class="form-control inpt_bx_blck mb20" placeholder="Certificate Number" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="exm_det" class="form-control inpt_bx_blck mb20" placeholder="Exam Date" onfocus="(this.type='date')" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="exm_award_det" class="form-control inpt_bx_blck mb20" placeholder="Award Date" onfocus="(this.type='date')" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="exm_session" class="form-control inpt_bx_blck mb20" placeholder="Session, Ex. June-2018 to November-2018" />
                            </div>

                            <div class="col-md-12 exam_hed">
                                <h3>Marks of Student</h3>
                            </div>
                            
                            <div class="col-md-6">
                                <input type="number" name="exm_theory" min="0" max="100" class="form-control inpt_bx_blck mb20" placeholder="Theory (Fundamental, Internet)" />
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="exm_prect" min="0" max="50" class="form-control inpt_bx_blck mb20" placeholder="Practical (Ms Office, Windows)" />
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="exm_oral" min="0" max="50" class="form-control inpt_bx_blck mb20" placeholder="Oral/Project" />
                            </div>

                            <div class="col-md-12" style="text-align: center;">
                                <button id="cor_sub" name="cors_sub" class="bor_btn_blk butt_on_blk">Submit<span></span><span></span></button>
                            </div>
                        </div>
	                </form>
	            </div>
	        </div>
            <p id="hid_val" class="frm_valid_line">{{hid_val}}</p>

{% block js %}
    <script>
        $(document).ready(function(){
            var std_cor = $('#std_cor');
            var std_nam = $('#std_nam');
            var std_fat = $('#std_fat');
            var hid1 = $('#hid1');
            var hid2 = $('#hid2');
            var hid_val = $('#hid_val').text();
            hid2.hide();
            
            $('#std_cor').change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/cit/add_marks/' + std_cor.val(),
                    data: { get_param: 'value' },
                    dataType: 'json',
                    success: function (data) {
                        // alert(data.length)
                        // console.log(data[0]);
                        var i = 0;
                        for(i; i < data.length; i++){
                            $('#std_nam').append('<option value="' + data[i].fields.reg_nam + '">' + data[i].fields.reg_nam + '</option>');
                        }
                    }
                });
            });
            $('#std_nam').change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/cit/add_marks/' + std_nam.val(),
                    data: { get_param: 'value' },
                    dataType: 'json',
                    success: function (data) {
                        var i = 0;
                        for(i; i < data.length; i++){
                            $('#std_fat').append('<option value="' + data[i].fields.reg_fat_nam + '">' + data[i].fields.reg_fat_nam + '</option>');
                        }
                    }
                });
            });
            $('#std_fat').change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/cit/add_marks/' + std_fat.val(),
                    data: { get_param: 'value' },
                    dataType: 'json',
                    success: function (data) {
                        // console.log(data[0]);
                        // alert(data.std_id)
                        var std = $.parseJSON(data.all_std);
                        return_str = `<input type="hidden" name="exm_std_id" value="${data.std_id}" />
                                <input type="hidden" name="exm_std_img" value="${std[0].fields.reg_img}" />
                                <div class="col-md-6">
                                    <input type="text" id="std_nam" name="exm_std_nam" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_nam}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_std_fat" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_fat_nam}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_reg_num" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_frm_no}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_location" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_location}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_std_cors" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_cor}" readonly />
                                </div>`;
                        $("#exm_hid").prepend(return_str);
                        hid1.hide();
                        hid2.show();

                    }
                });
            });
        });
    </script>
{% endblock %}