{% extends 'cit/basic.html' %}

{% block title %} <title>CIT</title> {% endblock %}

{% load static %}

{% block body %}

<div class="tp-banner-container" data-start-height="700" data-full-width="on" data-on-hover-stop="off" data-navigation-type="none" data-navigation-style="preview1" data-navigation-arrows="solo">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-title="Video">
                    <img src="{% static 'cit/videos/work.jpg' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
                    <div class="tp-caption fade fullscreenvideo" data-x="0" data-y="0" data-speed="400" data-start="500" data-easing="Power4.easeOut" data-endspeed="1500" data-endeasing="Power4.easeIn" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="false" data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on" data-videoloop="loop" style="z-index: 4;">
                        <div id="particles-js" style="width: 100%; height: 100%; position:relative; z-index: 100; background-color: rgba(0,0,0,.7);"></div>
                        <video class="" preload="none" loop="" width="100%" height="100%" poster="{% static 'cit/videos/work.jpg' %}">
                            <source src="{% static 'cit/videos/work.mp4' %}" type='video/mp4'>
                        </video>
                    </div>
                </li>
            </ul>
            <div class="tp-static-layers hidden-xs hidden-sm">
                <div class="tp-caption sfb stt tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="35" data-speed="700" data-start="800" data-easing="Power3.easeInOut" data-startslide="0" data-endslide="3" style="z-index: 4">
                    <h2 class="title-slider large raleway mb30 text-center">Welcome in Creator Infotech</h2>
                    <div class="type-wrap">
                        <div id="typed-strings">
                            <span>We Develop Your Future...</span>
                            <span>We Create Responsive Website...</span>
                            <span>We Provide Complete Web Solution...</span>
                            <span>We Are Your IT Wings...</span>
                        </div>
                        <span id="typed" style="white-space:pre;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section mt40">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <div class="relative">
                        <h2 class="title-large animated wow zoomIn" data-wow-delay=".3s">About Creator Infotech</h2>
                        <div class="br-bottom-center mb30"></div>
                        <p class="text-1 mb0 animated wow zoomInDown" data-wow-delay=".5s">Creator Infotech, A Freelance IT Company situated in Lard Shiva Land Uttar Pradesh, Varanasi, with an objective to serve Indian clients and support to digital india. The positive feed-backs and recommendations on our profile give us reason to believe that our clients are satisfied with our work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                <div class="relative">
                    <h2 class="title-large animated wow zoomIn" data-wow-delay=".3s">Our Features</h2>
                    <div class="br-bottom-center mb30"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-sm-6 col-md-12">
                    <div class="box-services-7">
                        <h3 class="title-uppercased mt30 mb10 animated wow zoomInLeft" data-wow-delay=".5s"><i class="icon icon_box-checked icon-5"></i>Fully Responsive</h3>
                        <p class="text-1 animated wow zoomInRight" data-wow-delay=".7s">By essentially giving a custom solution for each mobile platform, our responsive website design makes for a better user experience on a wider range of devices.</p>
                        <div class="br-bottom"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="box-services-7">
                        <h3 class="title-uppercased mt30 mb10 animated wow zoomInLeft" data-wow-delay=".9s"><i class="icon icon_lifesaver icon-5"></i>Unique Design</h3>
                        <p class="text-1 animated wow zoomInRight" data-wow-delay="1.1s">Website Designing a delightful interface should go beyond skin deep. Every web design decision we make at Movic India improves the experience for your customers and enhances the usability of the site.</p>
                        <div class="br-bottom"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt50">
                <img class="mt50" src="{% static 'cit/images/Responsiv.png' %}" />
            </div>
            <div class="col-md-4">
                <div class="col-sm-6 col-md-12">
                    <div class="box-services-7">
                        <h3 class="title-uppercased mt30 mb10 animated wow zoomInLeft" data-wow-delay="1.3s"><i class="icon icon_shield icon-5"></i>Retina Ready</h3>
                        <p class="text-1 animated wow zoomInRight" data-wow-delay="1.5s">Retina ready is a feature that gives a person a crisp and clear view of any product, text or any other web content when enlarged.</p>
                        <div class="br-bottom"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    <div class="box-services-7">
                        <h3 class="title-uppercased mt30 mb10 animated wow zoomInLeft" data-wow-delay="1.7s"><i class="icon icon_heart_alt icon-5"></i>Easy to Customisable</h3>
                        <p class="text-1 animated wow zoomInRight" data-wow-delay="1.9s">we customise your business, we analyse your business needs, we provide custom business intelligence solutions, we customise to your business needs, we upgrade your website to latest technology cms version seamlessly.</p>
                        <div class="br-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section max_height sm_max_height">
        <div class="container">
            <div class="row col-p0">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <div class="relative">
                        <h2 class="title-large animated wow zoomIn" data-wow-delay=".3s">Our Services</h2>
                        <div class="br-bottom-center mb30"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="box-services-4 green el_max_height hovr_blok animated wow slideInLeft" data-wow-delay=".3s">
                        <div class="bg-overlay"></div>
                        <div class="row col-p0">
                            <div class="col-sm-12">
                                <h3 class="title title-medium">Website Development</h3>
                                <p class="mb30 ">Best Technology based design and development swolutions are tailored to meet your business nees.</p>
                                <a href="#" class="bor_btn ext_btn_small">Know More<span></span><span></span></a>
                            </div>
                        </div>
                        <i class="icon icon_laptop"></i>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="box-services-4 dark el_max_height hovr_blok animated wow slideInLeft" data-wow-delay=".6s">
                        <div class="bg-overlay"></div>
                        <div class="row col-p0">
                            <div class="col-sm-12">
                                <h3 class="title title-medium">App Development</h3>
                                <p class="mb30 ">We make awesome mobile apps which are not only user-friendly but also solve the business problems.</p>
                                <a href="#" class="bor_btn ext_btn_small">Know More<span></span><span></span></a>
                            </div>
                        </div>
                        <i class="icon icon_lock-open_alt"></i>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="box-services-4 blue el_max_height hovr_blok animated wow slideInLeft" data-wow-delay=".9s">
                        <div class="bg-overlay"></div>
                        <div class="row col-p0">
                            <div class="col-sm-12">
                                <h3 class="title title-medium">Digital Marketing</h3>
                                <p class="mb30 ">We have a digital marketing campaign which follows a proper strategy to establish it in the market.</p>
                                <a href="#" class="bor_btn ext_btn_small">Know More<span></span><span></span></a>
                            </div>
                        </div>
                        <i class="icon icon_creditcard"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-bg section-large bg-img bg04 stellar stats-section stats-bg" data-stellar-background-ratio="0.4">
        <div class="container mt20">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 sm-box">
                            <div class="stats-content">
                                <p class="stats-timer" data-to="23" data-speed="4000"></p>
                                <div class="br-bottom-center mt30 mb20"></div>
                                <h3>Web Projects</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 sm-box">
                            <div class="stats-content">
                                <p class="stats-timer" data-to="33" data-speed="4000"></p>
                                <div class="br-bottom-center mt30 mb20"></div>
                                <h3>Happy Customers</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 xs-box">
                            <div class="stats-content">
                                <p class="stats-timer" data-to="10" data-speed="4000"></p>
                                <div class="br-bottom-center mt30 mb20"></div>
                                <h3>Support Tickets</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="stats-content">
                                <p class="stats-timer" data-to="6" data-speed="3500"></p>
                                <div class="br-bottom-center mt30 mb20"></div>
                                <h3>Employees</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section max_height sm_max_height">
        <div class="container">
            <div class="row col-p0">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <div class="relative">
                        <h2 class="title-large animated wow zoomIn" data-wow-delay=".3s">Our Products</h2>
                        <div class="br-bottom-center mb30"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="circle"><img src="{% static 'cit/images/school.png' %}" /></div>
                    <div class="mid_block">
                        <p>College Management</p>
                        <p>School Management</p>
                    </div>
                    <div class="first_block school_mgmt">
                        <div class="prod_div"><a href="#" class="bor_btn ext_btn_large">View<span></span><span></span></a></div>
                    </div>
                    <div class="second_block college_mgmt">
                        <div class="prod_div"><a href="#" class="bor_btn ext_btn_large">View<span></span><span></span></a></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="circle"><img src="{% static 'cit/images/restaurant.png' %}" /></div>
                    <div class="mid_block">
                        <p>Hotel Management</p>
                        <p>Restaurant Manage</p>
                    </div>
                    <div class="first_block restaurant_mgmt">
                        <div class="prod_div"><a href="#" class="bor_btn ext_btn_large">View<span></span><span></span></a></div>
                    </div>
                    <div class="second_block hotel_mgmt">
                        <div class="prod_div"><a href="#" class="bor_btn ext_btn_large">View<span></span><span></span></a></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="circle"><img src="{% static 'cit/images/hospital1.png' %}" /></div>
                    <div class="mid_block">
                        <p>Hospital Management</p>
                        <p>Hostel Management</p>
                    </div>
                    <div class="first_block hostel_mgmt">
                        <div class="prod_div"><a href="#" class="bor_btn ext_btn_large">View<span></span><span></span></a></div>
                    </div>
                    <div class="second_block hospital_mgmt">
                        <div class="prod_div"><a href="#" class="bor_btn ext_btn_large">View<span></span><span></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-clients section-clients-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <div class="relative">
                        <h2 class="title-large animated wow zoomIn" data-wow-delay=".3s">Our Clients</h2>
                        <div class="br-bottom-center mb30"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel owl-columns5 owl-p5" data-auto-play="3000" data-stop-on-hover="true">
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client01.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client02.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client03.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client04.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client05.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client06.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client07.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                        <div class="owl-el">
                            <a href="#">
                                <img src="{% static 'cit/images/demo/client08.png' %}" alt="client" class="mb0">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}