
	        <div class="row col-p30">
	            <div class="col-md-8 col-md-push-2 sm-box3">
                    <div id="hid1">
                        <div class="col-md-4">
                            <select class="form-control inpt_bx_blck mb20" name="exm_cors" id="std_cor">
                                <option value=""> Select course Name </option>
                                {% for i in all_cors %}
                                <option value="{{i.cor_nam}}"> {{i.cor_nam}} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control inpt_bx_blck mb20" name="exm_nam" id="std_nam">
                                <option value=""> Select Student Name </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control inpt_bx_blck mb20" name="exm_fat" id="std_fat">
                                <option value=""> Select Father Name </option>
                            </select>
                        </div>
                    </div>
                    <form id="add_fee_frm">
                        {% csrf_token %}
                        <div id="hid2">
                            <div id="fee_hid"></div>
                            <!-- <div class="col-md-12 exam_hed">
                                <div class="col-md-4">
                                    <h4 class="fee_apply">Applied Fee: {{cors_pak}}</h3>
                                </div>
                                <div class="col-md-5">
                                    <h4 class="fee_total">Paid Fee: {{total_paid}}</h3>
                                </div>
                                <div class="col-md-3">
                                    <h4 class="fee_due">Due Fee: {{due_fee}}</h3>
                                </div>
                            </div> -->

                            <!-- {% if fee_not_exist %}
                                <input type="hidden" name="fee_hid" value="add" />
                                <div class="col-md-2">
                                    <label> Januery </label>
                                    <input type="number" name="jan_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> February </label>
                                    <input type="number" name="feb_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> March </label>
                                    <input type="number" name="mar_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> April </label>
                                    <input type="number" name="apr_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> May </label>
                                    <input type="number" name="may_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> June </label>
                                    <input type="number" name="jun_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> July </label>
                                    <input type="number" name="jul_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> August </label>
                                    <input type="number" name="aug_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> September </label>
                                    <input type="number" name="sep_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> October </label>
                                    <input type="number" name="oct_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> November </label>
                                    <input type="number" name="nov_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> December </label>
                                    <input type="number" name="dec_fee" class="form-control mb20" value="0" />
                                </div>
                            {% endif %} -->
                            
                            <!-- {% if fee_exist %}
                                {% for i in fee_detail %}
                                    <input type="hidden" name="fee_hid" value="upd" />
                                    <div class="col-md-2">
                                        {% if i.jan_fee != 0  %}
                                            <label class="exist_det"> {{i.jan_fee_det}} </label>
                                            <input type="number" name="jan_fee" class="form-control mb20" value="{{i.jan_fee}}" readonly />
                                        {% else %}
                                            <label> Januery </label>
                                            <input type="number" name="jan_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.feb_fee != 0  %}
                                            <label class="exist_det"> {{i.feb_fee_det}} </label>
                                            <input type="number" name="feb_fee" class="form-control mb20" value="{{i.feb_fee}}" readonly />
                                        {% else %}
                                        <label> February </label>
                                        <input type="number" name="feb_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.mar_fee != 0  %}
                                            <label class="exist_det"> {{i.mar_fee_det}} </label>
                                            <input type="number" name="mar_fee" class="form-control mb20" value="{{i.mar_fee}}" readonly />
                                        {% else %}
                                        <label> March </label>
                                        <input type="number" name="mar_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.apr_fee != 0  %}
                                            <label class="exist_det"> {{i.apr_fee_det}} </label>
                                            <input type="number" name="apr_fee" class="form-control mb20" value="{{i.apr_fee}}" readonly />
                                        {% else %}
                                        <label> April </label>
                                        <input type="number" name="apr_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.may_fee != 0  %}
                                            <label class="exist_det"> {{i.may_fee_det}} </label>
                                            <input type="number" name="may_fee" class="form-control mb20" value="{{i.may_fee}}" readonly />
                                        {% else %}
                                        <label> May </label>
                                        <input type="number" name="may_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.jun_fee != 0  %}
                                            <label class="exist_det"> {{i.jun_fee_det}} </label>
                                            <input type="number" name="jun_fee" class="form-control mb20" value="{{i.jun_fee}}" readonly />
                                        {% else %}
                                        <label> June </label>
                                        <input type="number" name="jun_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.jul_fee != 0  %}
                                            <label class="exist_det"> {{i.jul_fee_det}} </label>
                                            <input type="number" name="jul_fee" class="form-control mb20" value="{{i.jul_fee}}" readonly />
                                        {% else %}
                                        <label> July </label>
                                        <input type="number" name="jul_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.aug_fee != 0  %}
                                            <label class="exist_det"> {{i.aug_fee_det}} </label>
                                            <input type="number" name="aug_fee" class="form-control mb20" value="{{i.aug_fee}}" readonly />
                                        {% else %}
                                        <label> August </label>
                                        <input type="number" name="aug_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.sep_fee != 0  %}
                                            <label class="exist_det"> {{i.sep_fee_det}} </label>
                                            <input type="number" name="sep_fee" class="form-control mb20" value="{{i.sep_fee}}" readonly />
                                        {% else %}
                                        <label> September </label>
                                        <input type="number" name="sep_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.oct_fee != 0  %}
                                            <label class="exist_det"> {{i.oct_fee_det}} </label>
                                            <input type="number" name="oct_fee" class="form-control mb20" value="{{i.oct_fee}}" readonly />
                                        {% else %}
                                        <label> October </label>
                                        <input type="number" name="oct_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.nov_fee != 0  %}
                                            <label class="exist_det"> {{i.nov_fee_det}} </label>
                                            <input type="number" name="nov_fee" class="form-control mb20" value="{{i.nov_fee}}" readonly />
                                        {% else %}
                                        <label> November </label>
                                        <input type="number" name="nov_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        {% if i.dec_fee != 0  %}
                                            <label class="exist_det"> {{i.dec_fee_det}} </label>
                                            <input type="number" name="dec_fee" class="form-control mb20" value="{{i.dec_fee}}" readonly />
                                        {% else %}
                                        <label> December </label>
                                        <input type="number" name="dec_fee" class="form-control mb20" value="0" />
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %} -->

                            <div class="col-md-12" style="text-align: center;">
                                <button name="cors_sub" class="bor_btn_blk butt_on_blk">Submit<span></span><span></span></button>
                            </div>
                        </div>
	                </form>
	            </div>
	        </div>
    <p id="hid_val" class="frm_valid_line">{{hid_val}}</p>

{% block js %}
    <script>
        $(document).ready(function(){
            var std_cor = $('#std_cor');
            var std_nam = $('#std_nam');
            var std_fat = $('#std_fat');
            var hid1 = $('#hid1');
            var hid2 = $('#hid2');
            var hid_val = $('#hid_val').text();
            hid2.hide();
            
            $('#std_cor').change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/cit/add_fee/' + std_cor.val(),
                    data: { get_param: 'value' },
                    dataType: 'json',
                    success: function (data) {
                        // alert(data.length)
                        // console.log(data[0]);
                        var i = 0;
                        for(i; i < data.length; i++){
                            $('#std_nam').append('<option value="' + data[i].fields.reg_nam + '">' + data[i].fields.reg_nam + '</option>');
                        }
                    }
                });
            });
            $('#std_nam').change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/cit/add_fee/' + std_nam.val(),
                    data: { get_param: 'value' },
                    dataType: 'json',
                    success: function (data) {
                        var i = 0;
                        for(i; i < data.length; i++){
                            $('#std_fat').append('<option value="' + data[i].fields.reg_fat_nam + '">' + data[i].fields.reg_fat_nam + '</option>');
                        }
                    }
                });
            });
            $('#std_fat').change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/cit/add_fee/' + std_fat.val(),
                    data: { get_param: 'value' },
                    dataType: 'json',
                    success: function (data) {
                        var std = $.parseJSON(data.all_std);
                        var fee = $.parseJSON(data.fee_detail);
                        // alert(data.std_id);
                        return_str = `<input type="hidden" name="fee_std_id" value="${data.std_id}" />
                                <input type="hidden" name="fee_std_img" value="${std[0].fields.reg_img}" />
                                <div class="col-md-6">
                                    <input type="text" id="fee_std_nam" name="fee_std_nam" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_nam}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="fee_std_fat" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_fat_nam}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="fee_location" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_location}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="fee_std_cors" class="form-control inpt_bx_blck mb20" value="${std[0].fields.reg_cor}" readonly />
                                </div>
                                <div class="col-md-12 exam_hed">
                                    <div class="col-md-4">
                                        <h4 class="fee_apply">Applied Fee: ${data.cors_pak}</h3>
                                    </div>
                                    <div class="col-md-5">
                                        <h4 class="fee_total">Paid Fee: ${data.total_paid}</h3>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="fee_due">Due Fee: ${data.due_fee}</h3>
                                    </div>
                                </div>`;
                        if(data.fee_not_exist){
                            return_str = return_str + `<input type="hidden" id="fee_hid" name="fee_hid" value="add" />
                                <div class="col-md-2">
                                    <label> Januery </label>
                                    <input type="number" name="jan_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> February </label>
                                    <input type="number" name="feb_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> March </label>
                                    <input type="number" name="mar_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> April </label>
                                    <input type="number" name="apr_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> May </label>
                                    <input type="number" name="may_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> June </label>
                                    <input type="number" name="jun_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> July </label>
                                    <input type="number" name="jul_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> August </label>
                                    <input type="number" name="aug_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> September </label>
                                    <input type="number" name="sep_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> October </label>
                                    <input type="number" name="oct_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> November </label>
                                    <input type="number" name="nov_fee" class="form-control mb20" value="0" />
                                </div>
                                <div class="col-md-2">
                                    <label> December </label>
                                    <input type="number" name="dec_fee" class="form-control mb20" value="0" />
                                </div>`;
                        }
                        if(data.fee_exist){
                            return_str += `<input type="hidden" name="fee_hid" value="upd" />
                                    <div class="col-md-2">`;
                                        if(fee[0].fields.jan_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.jan_fee_det} </label>
                                            <input type="number" name="jan_fee" class="form-control mb20" value="${fee[0].fields.jan_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> Januery </label>
                                            <input type="number" name="jan_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.feb_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.feb_fee_det} </label>
                                            <input type="number" name="feb_fee" class="form-control mb20" value="${fee[0].fields.feb_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> February </label>
                                            <input type="number" name="feb_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.mar_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.mar_fee_det} </label>
                                            <input type="number" name="mar_fee" class="form-control mb20" value="${fee[0].fields.mar_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> March </label>
                                            <input type="number" name="mar_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.apr_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.apr_fee_det} </label>
                                            <input type="number" name="apr_fee" class="form-control mb20" value="${fee[0].fields.apr_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> April </label>
                                            <input type="number" name="apr_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.may_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.may_fee_det} </label>
                                            <input type="number" name="may_fee" class="form-control mb20" value="${fee[0].fields.may_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> May </label>
                                            <input type="number" name="may_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.jun_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.jun_fee_det} </label>
                                            <input type="number" name="jun_fee" class="form-control mb20" value="${fee[0].fields.jun_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> June </label>
                                            <input type="number" name="jun_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.jul_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.jul_fee_det} </label>
                                            <input type="number" name="jul_fee" class="form-control mb20" value="${fee[0].fields.jul_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> July </label>
                                            <input type="number" name="jul_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.aug_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.aug_fee_det} </label>
                                            <input type="number" name="aug_fee" class="form-control mb20" value="${fee[0].fields.aug_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> August </label>
                                            <input type="number" name="aug_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.sep_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.sep_fee_det} </label>
                                            <input type="number" name="sep_fee" class="form-control mb20" value="${fee[0].fields.sep_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> September </label>
                                            <input type="number" name="sep_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.oct_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.oct_fee_det} </label>
                                            <input type="number" name="oct_fee" class="form-control mb20" value="${fee[0].fields.oct_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> October </label>
                                            <input type="number" name="oct_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.nov_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.nov_fee_det} </label>
                                            <input type="number" name="nov_fee" class="form-control mb20" value="${fee[0].fields.nov_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> November </label>
                                            <input type="number" name="nov_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>
                                    <div class="col-md-2">`
                                        if(fee[0].fields.dec_fee != 0){
                            return_str += `<label class="exist_det"> ${fee[0].fields.dec_fee_det} </label>
                                            <input type="number" name="dec_fee" class="form-control mb20" value="${fee[0].fields.dec_fee}" readonly />`;
                                        }
                                        else{
                            return_str += `<label> December </label>
                                            <input type="number" name="dec_fee" class="form-control mb20" value="0" />`;
                                        }
                            return_str += `</div>`;
                        }
                        $("#fee_hid").append(return_str);
                        // $("#fee_hid").append(return_str);
                        hid1.hide();
                        hid2.show();

                    }
                });
            });
        });
        // jQuery(function () {
		// 	jQuery('#hid1').change(function () {
		// 		this.form.submit();
		// 	});
		// 	jQuery('#hid2').change(function () {
		// 		this.form.submit();
		// 	});
		// 	jQuery('#hid3').change(function () {
		// 		this.form.submit();
		// 	});
		// });
    </script>
{% endblock %}