
			<div class="col-md-12">
				<!-- <form id="std_filter_form" name="std_filter_form" method="POST" action="/cit/std_list">
					{% csrf_token %} -->
					<div class="col-md-4" id="fil_typ">
						<select class="form-control inpt_bx_blck mb20" name="sel_filter" id="sel_filter">
							<option value=""> --- Filter By --- </option>
							<option value="all">No Filter</option>
							<option value="typ_cor">Course</option>
							<!-- <option value="typ_gen">Gender</option> -->
							<option value="typ_nam">Name</option>
							<!-- <option value="typ_cat">Category</option> -->
						</select>
					</div>
					<div class="col-md-4" id="fil_by_cor">
						<select class="form-control inpt_bx_blck mb20" name="std_cors" id="std_cors">
							<option value="all"> --- Filter By Course --- </option>
							<option value="all">All</option>
							{% for i in all_cors %}
								<option value="{{i.cor_nam}}">{{i.cor_nam}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-4" id="fil_by_nam">
						<input type="text" name="std_nam" id="std_nam_filter" class="form-control inpt_bx_blck mb20" placeholder="Insert Student Name then Press Enter">
					</div>
					<!-- <div class="col-md-2" id="fil_btn">
						<button class="bor_btn_blk butt_on_blk" id="filtr">Filter<span></span><span></span></button>
					</div>
				</form> -->
			</div>

			<table class="row col-p30">
				<table class="col-md-12">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th scope="col" class="text-center">S.No.</th>
								<th scope="col" class="text-center">Form No.</th>
								<th scope="col" class="text-center">Name</th>
								<th scope="col" class="text-center">Father</th>
								<th scope="col" class="text-center">Course</th>
								<th scope="col" class="text-center">Admission Date</th>
								<th scope="col" class="text-center">Address</th>
								<th scope="col" class="text-center">Contact</th>
								<th scope="col" class="text-center">Photo</th>
								<th scope="col" class="text-center">Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for i in std %}
								<tr>
									<th scope="row" class="text-center">{{forloop.counter}}</th>
									<td>{{i.reg_frm_no}}</td>
									<td>{{i.reg_nam|title}}</td>
									<td>{{i.reg_fat_nam|title}}</td>
									<td>{{i.reg_cor|title}}</td>
									<td>{{i.reg_det}}</td>
									<td>{{i.reg_location|slice:'0:20'}}...</td>
									<td>{{i.reg_mono}}</td>
									<td class="text-center"><a href="#" onclick="std_view({{i.reg_id}})"><img src="/media/{{i.reg_img}}" style="height: 50px;"></a></td>
									<td class="text-center"><a href="#" onclick="std_del({{i.reg_id}})"<i class="icon icon_close icon-simple icon-large"></i></a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</table>
			</div>

{% block js %}
	<script>
		$(document).ready(function(){
			var by_cor = $('#fil_by_cor');
			var by_nam = $('#fil_by_nam');
			by_cor.hide();
			by_nam.hide();
			var std_cors = $('#std_cors');
			var sel_filter = $('#sel_filter');
			
			$('#sel_filter').change(function (){
				if (sel_filter.val() === 'all'){
					$('#admin_heading').text('Student List');
					$('#main_place').load('/cit/std_list/non');
				}
				if (sel_filter.val() === 'typ_cor'){
					by_cor.show();
					by_nam.hide();
				}
				else if (sel_filter.val() === 'typ_nam'){
					by_cor.hide();
					by_nam.show();
				}
			});
			$('#std_cors').change(function () {
				if (std_cors.val() == 'all'){
					$('#admin_heading').text('Student List');
					$('#main_place').load('/cit/std_list/non');
				}
				else{
					$('#main_place').load(encodeURIComponent('std_list/' + std_cors.val()));
				}
			});
			
		});
		var inpt = document.getElementById("std_nam_filter");
		inpt.addEventListener("keyup", function(event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				$('#main_place').load(encodeURIComponent('std_list/' + inpt.value));
			}
		});
	</script>
{% endblock %}