
	        <div class="row col-p30">
	            <div class="col-md-8 col-md-push-2 sm-box3">
                    <form name="add_cor_frm" method="POST" enctype="multipart/form-data" action="/cit/marks">
                        {% csrf_token %}
                        <div>
                            {% for i in exm_detail %}
                                <input type="hidden" name="exm_hid" value="upd" />
                                <input type="hidden" name="exm_id" value="{{i.exm_id}}" />
                                <div class="col-md-6">
                                    <input type="text" name="exm_std_nam" class="form-control inpt_bx_blck mb20" value="{{i.exm_std_nam}}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_std_fat" class="form-control inpt_bx_blck mb20" value="{{i.exm_fat_nam}}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_reg_num" class="form-control inpt_bx_blck mb20" value="{{i.exm_frm_no}}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_location" class="form-control inpt_bx_blck mb20" value="{{i.exm_location}}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_std_cors" class="form-control inpt_bx_blck mb20" value="{{i.exm_cors}}" readonly />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_enroll" class="form-control inpt_bx_blck mb20" value="{{i.exm_enroll_no}}" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_certi" class="form-control inpt_bx_blck mb20" value="{{i.exm_certi_no}}" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_det" class="form-control inpt_bx_blck mb20" placeholder="{{i.exm_det}}" onfocus="(this.type='date')" required />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_award_det" class="form-control inpt_bx_blck mb20" placeholder="{{i.exm_award_det}}" onfocus="(this.type='date')" required />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="exm_session" class="form-control inpt_bx_blck mb20" value="{{i.exm_session}}" />
                                </div>

                                <div class="col-md-12 exam_hed">
                                    <h3>Marks of Student</h3>
                                </div>
                                
                                <div class="col-md-6">
                                    <input type="number" name="exm_theory" min="0" max="100" class="form-control inpt_bx_blck mb20" value="{{i.exm_theory}}" />
                                </div>
                                <div class="col-md-6">
                                    <input type="number" name="exm_prect" min="0" max="50" class="form-control inpt_bx_blck mb20" value="{{i.exm_prect}}" />
                                </div>
                                <div class="col-md-6">
                                    <input type="number" name="exm_oral" min="0" max="50" class="form-control inpt_bx_blck mb20" value="{{i.exm_oral}}" />
                                </div>
                            {% endfor %}

                            <div class="col-md-12" style="text-align: center;">
                                <button id="cor_sub" name="cors_sub" class="bor_btn_blk butt_on_blk">Update<span></span><span></span></button>
                            </div>
                        </div>
	                </form>
	            </div>
	        </div>