
	            <div class="col-md-8 col-md-push-2 sm-box3">
                    {% for i in cors_detail %}
                        <form id="upd_cor_frm">
                            {% csrf_token %}
                            <input type="hidden" name="cor_hid" value="upd" />
                            <input type="hidden" name="cor_id" value="{{i.cor_id}}" />
                            <div class="col-md-6">
                                <select class="form-control inpt_bx_blck mb20" name="cor_cat">
                                    <option value="{{i.cor_cat}}"> {{i.cor_cat}} </option>
                                    <option value="Diploma Course"> Diploma Course </option>
                                    <option value="Tution Course"> Tution Course </option>
                                    <option value="Distance Course"> Distance Course </option>
                                    <option value="Regular Course"> Regular Course </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="cor_nam" id="cor_nam" class="form-control inpt_bx_blck mb20" value="{{i.cor_nam}}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="cor_ful_frm" class="form-control inpt_bx_blck mb20" value="{{i.cor_ful_form}}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="cor_dur" class="form-control inpt_bx_blck mb20" value="{{i.cor_dur}}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="cor_dit" class="form-control inpt_bx_blck mb20" value="{{i.cor_detail}}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="cor_pak" class="form-control inpt_bx_blck mb20" value="{{i.cor_pak}}" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="cor_syllabus" class="form-control inpt_bx_blck mb20" value="{{i.cor_syllabus}}" onfocus="(this.type='file')" />
                            </div>
                            <div class="col-md-12" style="text-align: center;">
                                <button id="cor_sub" name="cors_sub" class="bor_btn_blk butt_on_blk">Submit<span></span><span></span></button>
                            </div>
                        </form>
                    {% endfor %}
	            </div>