{% extends 'cit/das_basic.html' %}

{% block title %}<title>Certificate View</title> {% endblock %}

{% load static %}

{% block body %}

	<section class="section-intro breadcrumbs-right bg-img bg47 stellar" data-stellar-background-ratio="0.4">
	    <div class="bg-overlay gradient-1"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <h1 class="intro-title mt50 mb40">Student Certificate View</h1>
	            </div>
	        </div>
	    </div>
	</section>
	<section class="section page-contact mb20">
        <div class="container">
			<table class="row col-p30">
				<table class="col-md-12">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th scope="col" class="text-center">S.No.</th>
								<th scope="col" class="text-center">Form No.</th>
								<th scope="col" class="text-center">Name</th>
								<th scope="col" class="text-center">Father</th>
								<th scope="col" class="text-center">Course</th>
								<th scope="col" class="text-center">Admission Date</th>
								<th scope="col" class="text-center">Address</th>
								<th scope="col" class="text-center">Contact</th>
								<th scope="col" class="text-center">Photo</th>
								<th scope="col" class="text-center">Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for i in std %}
								<tr>
									<th scope="row" class="text-center">{{forloop.counter}}</th>
									<td>{{i.reg_frm_no}}</td>
									<td>{{i.reg_nam}}</td>
									<td>{{i.reg_fat_nam}}</td>
									<td>{{i.reg_cor}}</td>
									<td>{{i.reg_det}}</td>
									<td>{{i.reg_location|slice:'0:20'}}...</td>
									<td>{{i.reg_mono}}</td>
									<td class="text-center"><a href="/cit/std_view/{{i.reg_id}}" target="_blank"><img src="/media/{{i.reg_img}}" style="height: 50px;"></a></td>
									<td class="text-center"><a href="/cit/del_std/{{i.reg_id}}"><i class="icon icon_close icon-5"></i></a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</table>
			</div>
		</div>
	</section>

	<p id="flag_course" class="frm_valid_line">{{flag_course}}</p>

	<script type="text/javascript">
		
		var get_course_flag = document.getElementById('flag_course').textContent
        if(get_course_flag === 'True')
        {
            alert('Course Uploaded Successfully !!')
            window.location.href = "/cit/cou_rse"
        }

	</script>

{% endblock %}